{% extends 'base.html.twig' %}

{% block title %}Lieux
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">

			<h2>{{ data.features.0.properties.name }}</h2>

			<div class="col-sm-6 card mb-3">
				<img src="{{asset('assets/img/palaisFacteur.jpg')}}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">{{ data.features.0.properties.name }}</h5>
					<hr>
					<h5>Coordonées géographiques</h5>

					<p class="card-text">Longitude :
						{{ data.features.0.geometry.coordinates.0 }}
						Latitude :
						{{ data.features.0.geometry.coordinates.1 }}
					</p>
					<p class="card-text">
						<small class="text-muted">Last updated 3 mins ago</small>
					</p>
				</div>
			</div>

			<div id="map" class="col-sm-5 offset-1 card">
				<div>{# affichage de la map -> #}
                <p>je suis la map</p>
				</div>

				<div class="col-md-3">
                <p>Nous sommes les calques</p>
					<! - Les cases à cocher des calques vont ici ->
				</div>
			</div>

		</div>
	</div>
{% endblock %}